body {
    font-family: 'Poppins', sans-serif;
}
.h1 {
    font-size: 50px;
}
.my-name {
    color: blueviolet;
}
.heading {
    width: 48%;
    float: left;
    
}
.my-pic {
    float: right;
    width: 48%;
}